@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Itim&family=Thasadith&family=Yatra+One&display=swap");
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
}

html body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FBFCFC;
}

html body div#app {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

html body div#app div.middle {
  margin-left: auto;
  margin-right: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body div#app div #search {
  height: 3rem;
  width: 25rem;
  margin-right: 1rem;
  outline: none;
  border-radius: 10px;
  border: 1px solid #607D8B;
  padding: 5px 20px;
  background-color: #F5F5F5;
  font-family: 'Itim', cursive;
  font-size: 20px;
  -webkit-box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
          box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}

html body div#app div #search:focus {
  -webkit-box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
          box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

html body div#app div button {
  font-family: 'Itim', cursive;
  font-size: 1.8rem;
  display: block;
  cursor: pointer;
  padding: 0.2rem 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #4CAF50;
  color: white;
  -webkit-box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
          box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}

html body div#app div button:hover {
  background-color: #2E7D32;
}

html body div#app div button:active {
  -webkit-box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
          box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

html body div#app div#display {
  width: 70rem;
  margin: 1.5rem auto;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

html body div#app div#display div#displayUpperPortion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body div#app div#display div#displayUpperPortion div#city {
  margin-top: 1rem;
}

html body div#app div#display div#displayUpperPortion div#city div#cityUpperPart {
  font-family: 'Carter One', cursive;
  text-align: center;
  color: #29B6F6;
  font-size: 4rem;
}

html body div#app div#display div#displayUpperPortion div#city div#cityLowerPart {
  text-align: center;
  font-size: 1.5rem;
  color: #0D47A1;
  font-family: 'Thasadith', sans-serif;
  font-weight: bold;
}

html body div#app div#display div#displayUpperPortion div#city div#cityDateAndTime {
  text-align: center;
  font-size: 1.5rem;
  color: #0D47A1;
  font-family: 'Yatra One', cursive;
}

html body div#app div#display div#displayUpperPortion div#weatherIcon {
  margin-top: 3rem;
}

html body div#app div#display div#displayUpperPortion div#weatherIcon img {
  -webkit-animation: weatherIconAnimation 2s linear infinite alternate;
          animation: weatherIconAnimation 2s linear infinite alternate;
}

@-webkit-keyframes weatherIconAnimation {
  from {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  to {
    -webkit-transform: rotate(10deg) scale(1.3);
            transform: rotate(10deg) scale(1.3);
  }
}

@keyframes weatherIconAnimation {
  from {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  to {
    -webkit-transform: rotate(10deg) scale(1.3);
            transform: rotate(10deg) scale(1.3);
  }
}

html body div#app div#display div#displayUpperPortion div#temperature {
  margin-top: 2rem;
  font-size: 4rem;
  text-align: center;
  font-family: 'Carter One', cursive;
  color: #29B6F6;
}

html body div#app div#display div#displayUpperPortion div#temperature div {
  color: #1565C0;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Thasadith', sans-serif;
}

html body div#app div#display div#displayLowerPortion {
  margin-top: 3rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  background-color: #EEEEEE;
}

html body div#app div#display div#displayLowerPortion .layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 8rem;
  border-right: 1px solid #CFD8DC;
}

html body div#app div#display div#displayLowerPortion .layout:last-child {
  border: none;
}

html body div#app div#display div#displayLowerPortion .layout div.dataIcon {
  margin: auto 0;
}

html body div#app div#display div#displayLowerPortion .layout div.dataIcon svg {
  font-size: 5rem;
  color: #4DD0E1;
}

html body div#app div#display div#displayLowerPortion .layout div.dataIcon span.caption {
  font-family: 'Itim', cursive;
  color: #1A237E;
}

html body div#app div#display div#displayLowerPortion .layout div.dataIcon span#humidityCaption {
  margin-left: 0.5rem;
}

html body div#app div#display div#displayLowerPortion .layout div.dataIcon span#pressureCaption {
  margin-left: 0.5rem;
}

html body div#app div#display div#displayLowerPortion .layout div.data {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.8rem;
  color: #1A237E;
  font-family: 'Itim', cursive;
}

html body div#app div#display div#displayLowerPortion .layout div.data span.inch {
  font-size: 1rem;
  font-family: 'Itim', cursive;
}

html body div#app div#display div#displayLowerPortion .layout div.number {
  font-size: 2.5rem;
  color: #1A237E;
}

html body div#app div#display div#displayLowerPortion .layout div#humidity {
  margin-left: -2rem;
  font-size: 2.5rem;
}

@media only screen and (max-width: 941px) {
  html body div#app {
    margin-top: 2rem;
    width: 100vw;
  }
  html body div#app div #search {
    width: 20rem;
  }
  html body div#app div#display {
    width: 95vw;
  }
}

@media only screen and (max-width: 425px) {
  html body div#app div#display div#displayLowerPortion {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  html body div#app div#display div#displayLowerPortion .layout:nth-child(2) {
    border: none;
  }
  html body div#app div#display div#displayLowerPortion .layout:nth-child(3) {
    border-top: 1px solid #CFD8DC;
  }
  html body div#app div#display div#displayLowerPortion .layout:nth-child(4) {
    border-top: 1px solid #CFD8DC;
  }
}
/*# sourceMappingURL=App.css.map */